# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# ignore ONSdigital `ci` fir
ci/

# ignore build folder
build

# ignore raw data
scripts/insights/raw

# ignore any data files
**/*.json
**/*.csv
